<header class="topbar-nav">
    <nav class="navbar navbar-expand fixed-top bg-dark">
        <ul class="navbar-nav mr-auto align-items-center">
            <li class="nav-item">
                @if (Request.Url.AbsolutePath != "/"
                    && Request.Url.AbsolutePath != "/Answer/Index"
                    && Request.Url.AbsolutePath != "/Person"
                    && Request.Url.AbsolutePath != "/Person/Index"
                    && Request.Url.AbsolutePath != "/Question/Index")
                {
                    <a class="nav-link toggle-menu mr-auto" href="#" onclick="goBack();">
                        <i class="icon-arrow-left ml-0"></i>
                    </a>
                }
            </li>
        </ul>

        <ul class="navbar-nav align-items-center right-nav-link">
            <li class="nav-item">
                <a class="nav-link waves-effect" href="/Answer/Index">
                    <i class="icon-chart"></i>
                </a>
            </li>
            @if (Session["Admin"] != null)
            {
                <li class="nav-item">
                    <a class="nav-link waves-effect" href="/Question/Index">
                        <i class="icon-book-open"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect" href="/Person/Index">
                        <i class="icon-people"></i>
                    </a>
                </li>
            }
            <li>
                <a class="nav-link waves-effect" href="/Login/LogOut">
                    <i class="icon-login"></i>
                </a>
            </li>
        </ul>
    </nav>
    <script type="text/javascript">
        function goBack() {
            window.history.back();
        }
    </script>
</header>